<!-- tabs -->
<div class="bookmarks-title-div pd--1 display-flex item-wrap">
    <% site.pages.each(function (page) { %>
        <% if (page.path.match(/^bookmarks\/bookmarks/) !== null) { %>
        <div class="bookmarks-title-item">
            <a class="display-b pd--1" href="#<%= page.path %>">
                <span><%= page.path.match(/^bookmarks\/(.*)\.html$/)[1] %></span>
                <!-- <span>(<%= date(page.date, "YYYY-MM-DD") %>)</span> -->
            </a>
        </div>
        <% } %>
    <% }) %>
</div>

<!-- content -->
<div class="bookmarks-content-div pd--1">
    <% site.pages.each(function (page) { %>
        <% if (page.path.match(/^bookmarks\/bookmarks/) !== null) { %>
        <div class="bookmarks-content-item" id="<%= page.path %>">
            <span><%- page.content %></span>
        </div>
        <% } %>
    <% }) %>
</div>