<section class="posts-div pd-l-rem--1 pd-r-rem--1">
  <% page.posts.each(function (post) { %>
  <article class="post-item">
    <div class="post-item-title ellipsis">
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </div>
    <div class="post-item-excerpt">
      <%- post.excerpt || '暂无摘要' %>
    </div>
    <div class="post-item-date display-flex font--75 item-end post-item-date">
      <span class="color-black-2 shrink-0">创建日期：</span>
      <span class="ellipsis post-time"><%- date(post.date, "YYYY-MM-DD hh:hh") %></span>
      <span class="color-black-2 mg-l-rem-1 shrink-0">最近更新：</span>
      <span class="ellipsis post-time"><%- date(post.updated, "YYYY-MM-DD hh:mm") %></span>
    </div>
  </article>
  <% })%>
</section>
<div class="paginator-div">
  <%- partial('_partial/paginator')%>
</div>