<!DOCTYPE html>
<html lang="zh-cn">
<%- partial('_partial/head') %>
<body>
  <div class="content-main-div min-vh-100 bg-line-type1">
    <%- partial('_partial/header') %>
    <main class="mg-b-20 mg-t-20">
      <div class="max-w-mian-size margin-center bg-white--5 pd--1 relative">
        <%- body %>
      </div>
    </main>
    <%- partial('_partial/footer') %>
  </div>
  <%- js('js/init.js') %>
</body>
</html>