
<!-- top -->
<% if (is_post()) { %>
<div class="content-toc-div">
  <div class="article-toc-parent z-index-2">
    <div>目录：</div>
    <div class="article-toc-div">
      <%- toc(page.content, {
        list_number: false,
        max_depth: 6,
        min_depth: 1
      }) %>
    </div>
  </div>
</div>
<% } %>
<!-- content -->
<article class="relative">
  <div class="article-title z-index-2">
    <h2 class="ellipsis mg-0"><%= page.title %></h2>
    <div
      class="absolute cursor-pointer right-0 top-0"
      onclick="this.parentElement.classList.contains('static') ? this.parentElement.classList.remove('static') : this.parentElement.classList.add('static');document.querySelector('.article-toc-parent').classList.add('top-0');"
    >
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="36">
        <defs>
          <style type="text/css">
            g:hover {
              stroke: #00aaf2;
              stroke-opacity: 0.8;
            }
          </style>
        </defs>
        <g stroke="white" stroke-width="4" stroke-linecap="round" transform="rotate(45, 18, 18)">
          <circle cx="18" cy="18" stroke-width="3" fill="transparent" r="15"></circle>
          <line x1="8" y1="18" x2="28" y2="18"></line>
          <line x1="18" y1="8" x2="18" y2="28"></line>
        </g>
      </svg>
    </div>
  </div>
  <div class="categories-div">
    <span>分类</span>
    <%- list_categories(page.categories, {
      class: 'category-item',
      show_count: false,
      style: 'list'
    }) %>
  </div>
  <div class="tags-div">
    <span>标签</span>
    <%- list_tags(page.tags, {
      class: 'tag-item',
      show_count: false,
    }) %>
  </div>
  <div>
    <span>创建日期：</span>
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD hh:hh") %></span>
    <span>最近更新：</span>
    <span class="post-time"><%- date(page.upfated, "YYYY-MM-DD hh:mm") %></span>
  </div>
  <div class="content-div">
    <%- page.content %>
  </div>
</article>