
<!-- top -->
<div class="content-toc-div">
  <div class="article-toc-parent z-index-2">
    <div>目录：</div>
    <div class="article-toc-div">
      <%- toc(page.content, {
        list_number: false,
        max_depth: 6,
        min_depth: 1
      }) %>
    </div>
  </div>
</div>
<!-- content -->
<article class="relative">
  <div>
    <h2><%= page.title %></h2>
  </div>
  <div class="categories-div">
    <span>分类</span>
    <%- list_categories(page.categories, {
      class: 'category-item',
      show_count: false,
      style: 'list'
    }) %>
  </div>
  <div class="tags-div">
    <span>标签</span>
    <%- list_tags(page.tags, {
      class: 'tag-item',
      show_count: false,
    }) %>
  </div>
  <div>
    <span>创建日期：</span>
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD hh:hh") %></span>
    <span>最近更新：</span>
    <span class="post-time"><%- date(page.upfated, "YYYY-MM-DD hh:mm") %></span>
  </div>
  <div class="content-div">
    <%- page.content %>
  </div>
</article>