<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <% if(is_page() || is_post()) { %>
    <title><%= (page.title || config.title) + config.siteTag %></title>
  <% } else { %>
    <title><%= config.title %></title>
  <% } %>
  <!-- <title><%= (page.title || config.title) + config.siteTag %></title> -->

  <!-- Web application manifests -->
  <link rel="manifest" crossorigin="use-credentials" href="manifest.json">
  
  <%- css('css/normalize.css') %>
  <%- css('css/style.css') %>
  <!-- 字体图标 -->
  <!-- <script src="https://kit.fontawesome.com/895a2e3e9e.js" crossorigin="anonymous" async></script> -->
  <!-- 百度统计 -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      // 本地调试不启用统计
      if (/localhost|127.0.0.1/.test(location.hostname)) {
        return
      }
      var hm = document.createElement("script");
      // hm.src = "https://hm.baidu.com/hm.js?1b2d862f6763024eb69795ab8ef8c404";
      hm.src = "https://hm.baidu.com/hm.js?64cba5c79d730cff73ae4a75bdb75bf2";
      hm.defer = true
      hm.async = true
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <!-- svg图标 -->
  <!-- <%- partial('icons/svg') %> -->
</head>