<% if (page.total > 1) { %>
  <nav>
    <% if (!page.archive) { %>
    <ul class="display-flex item-center item-wrap">
      <% if (page.current > 1) { %>
      <li><a class="page-prev mg-r-rem-1" href="<%- page.prev_link || '/' %>">上一页</a></li>
      <% } %>
      <% for (var i = 1; i <= page.total; i++) { %>
        <li>
          <a class="page-number <%- i === page.current ? 'active' : '' %>" href="<%- i === 1 ? '/' : '/page/' + i %>">
            <%= i %>
          </a>
        </li>
      <% } %>
      <% if (page.current < page.total) { %>
      <li><a class="page-next mg-l-rem-1" href="<%- page.next_link %>">下一页</a></li>
      <% } %>
    </ul>
    <% } %>
    
    <%- page.archive && paginator({
      prev_text: '上一页',
      next_text: '下一页',
      escape: false
    }) %>
  </nav>
<% } %>